*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(155, 184, 155);
}

#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop{
    padding: 0px 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(72, 104, 72);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-size: 22px;
    font-weight: 500;
}

.box{
    color: rgb(18, 119, 57);
    font-weight: 500;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(72, 104, 72);
    color: #fff;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(50, 70, 50);
}